<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration>
	<appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%-d{yyyy-MM-dd HH:mm:ss} [%p][%c{1}.%M] %m%n" />
		</layout>
	</appender>

	<appender name="INFO" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="logs/movie_info.log" />
		<param name="Append" value="true" />
		<param name="encoding" value="UTF-8" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="%-d{yyyy-MM-dd HH:mm:ss} [%t:%r][%p][%c{1}.%M] %m%n" />
		</layout>
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="LevelMin" value="DEBUG" />
			<param name="LevelMax" value="WARN" />
		</filter>
	</appender>

	<appender name="ERROR" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="logs/movie_error.log" />
		<param name="Append" value="true" />
		<param name="encoding" value="UTF-8" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="%-d{yyyy-MM-dd HH:mm:ss} [%t:%r][%p][%c.%M] %m%n" />
		</layout>
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="LevelMin" value="ERROR" />
			<param name="LevelMax" value="FATAL" />
		</filter>
	</appender>

	<category name="org.apache" additivity="false" />
	
	<root>
		<priority value="INFO" />
		<appender-ref ref="CONSOLE" />
		<appender-ref ref="INFO" />
		<appender-ref ref="ERROR" />
	</root>
</log4j:configuration>