<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-4.0.xsd">
	<!-- todo -->
	<bean id="shiroRealm" class="com.moviemn.shiro.ShiroRealm"></bean>

	<bean id="shiroCacheManager" class="org.apache.shiro.cache.ehcache.EhCacheManager"></bean>

	<bean id="sessionDAO" class="org.apache.shiro.session.mgt.eis.MemorySessionDAO"></bean>
	
	<bean id="sessionIdCookie" class="org.apache.shiro.web.servlet.SimpleCookie">
		<constructor-arg name="name" value="zxd_session_id" />
	</bean>

	<bean id="sessionManager"
		class="org.apache.shiro.web.session.mgt.DefaultWebSessionManager">
		<property name="sessionDAO" ref="sessionDAO"></property>
		<!-- session过期时间，60小时 -->
		<property name="globalSessionTimeout" value="36000000" />
		<property name="sessionIdCookie" ref="sessionIdCookie" />
		
	</bean>
	
	<bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
		<property name="realm" ref="shiroRealm" />
		<property name="cacheManager" ref="shiroCacheManager" />
		<property name="sessionManager" ref="sessionManager"></property>
	</bean>

	<!-- <bean id="urlPermissionFilter" class="com.itoyun.oos.shiro.filter.UrlPermissionFilter"></bean> -->
	
	<bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
		<property name="securityManager" ref="securityManager" />
        <property name="loginUrl" value="/login.htm" />
        <property name="unauthorizedUrl" value="/unauthorized.json" />
        <property name="successUrl" value="/" />
       <!--  <property name="filters">
			<map>
				<entry key="urlPerm" value-ref="urlPermissionFilter" />
			</map>
		</property> -->
        <property name="filterChainDefinitions">
            <value>
				/login.htm=anon
				/login/login.json=anon
				/login/getSecurityPublicKey.json=anon
				/kaptcha.jpg=anon
				/ball/**=user
            </value>
        </property>
	</bean>
	
	<!-- 保证实现了Shiro内部lifecycle函数的bean执行 -->
	<bean id="lifecycleBeanPostProcessor" class="org.apache.shiro.spring.LifecycleBeanPostProcessor" />

	<bean class="org.springframework.web.servlet.handler.SimpleMappingExceptionResolver">
		<property name="exceptionMappings">
			<props>
				<!--越权 -->
				<prop key="org.apache.shiro.authz.UnauthorizedException">unauthorized</prop>
				<!--未登录 -->
				<prop key="org.apache.shiro.authz.UnauthenticatedException">/login.htm</prop>
			</props>
		</property>
	</bean>
	
</beans>